<div class="container-fluid">
  <div class="action-panel pull-right">
    <button class="btn btn-raised mr-1 btn-primary" (click)="open()" status="primary">
      Add Category
    </button>
  </div>
  <div class="all-show-grid">
    <ag-grid-angular class="ag-theme-material" [getRowStyle]="getRowStyle" [gridOptions]="gridOptions"
      [columnDefs]="columnDefs" [pinnedBottomRowData]="pinnedBottomRowData" [modules]="modules" [rowData]="categoryList"
      (gridReady)="onGridReady($event)" #grid>
    </ag-grid-angular>
  </div>
  
</div>
