@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import "scss/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/themes/prism-okaidia";
@import "scss/app-variables";
@import "scss/mixins";
@import "scss/core/palette";
@import "scss/custom-bootstrap";
@import "scss/custom-bootstrap-rtl";
@import "scss/core";
@import "scss/fonts/weather-icons";
@import "scss/plugins";
@import '~ngx-ui-switch/ui-switch.component.scss';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "scss/demo"; // Remove this SCSS from production
.ag-theme-material {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  
    .ag-body-viewport.ag-layout-normal {
      background-color: #fff;
    }
  
    .ag-cell {
      line-height: 38px;
    }
  
    .ag-paging-panel {
      border-top: none;
      color: rgba(0, 0, 0, 0.54);
      height: 30px;
      padding: 0;
      background-color: transparent;
      border-radius: 5px;
      margin-top: 20px;
      margin-bottom: 20px;
  
      .ag-paging-row-summary-panel,
      .ag-paging-page-summary-panel {
        margin-left: 0;
        background-color: #fff;
        height: 30px;
        align-items: center;
      }
  
      .ag-paging-row-summary-panel {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
  
      .ag-paging-page-summary-panel {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  
    .ag-center-cols-viewport {
      .ag-row {
        .ag-cell {
          border-right: 1px solid #cfede6;
        }
      }
    }
  
    .ag-row {
      border-color: #f9f9f9;
      border-style: none;
  
      &.ag-row-odd {
        background-color: #f2f8f8;
      }
    }
  
    .ag-ltr {
      .ag-cell {
        border-right: 1px solid #cfede6;
      }
    }
  
    .ag-header-viewport {
      border-left: 1px solid #cfede6;
  
      .ag-header-cell {
        border-right: 1px solid #cfede6;
      }
    }
  
    .ag-cell,
    .ag-header-cell,
    .ag-header-group-cell {
      padding-left: 24px;
      padding-right: 20px;
      border-color: #f9f9f9;
    }
  
    .ag-pinned-left-header {
      border-right: none;
      margin-left: -1px;
    }
  
    .ag-root-wrapper.ag-layout-normal {
      height: calc(100vh - 200px);
      width: 100%;
    }
  
    .ag-horizontal-left-spacer,
    .ag-horizontal-right-spacer {
      border-right: none;
      overflow: hidden;
      border-left: none;
    }
  
    .ag-header {
      background-color: #eaf7f4;
  
      .ag-header-cell {
        background-color: #eaf7f4;
        // margin-left: -1px;
      }
  
      .ag-header-cell-label .ag-header-cell-text {
        font-weight: 600;
        color: #213458;
        font-size: 14px;
      }
    }
  
    .ag-header-group-text {
      font-weight: 600;
      color: #213458;
      font-size: 14px;
    }
  
    .ag-body-horizontal-scroll-viewport::-webkit-scrollbar-track,
    .ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb,
    .ag-body-viewport.ag-layout-normal::-webkit-scrollbar-track,
    .ag-body-viewport.ag-layout-normal::-webkit-scrollbar-thumb,
    .ag-primary-cols-list-panel::-webkit-scrollbar-track,
    .ag-primary-cols-list-panel::-webkit-scrollbar-thumb,
    .ag-tool-panel-wrapper::-webkit-scrollbar-track,
    .ag-tool-panel-wrapper::-webkit-scrollbar-thumb {
      background-color: #c0c0c0;
      box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.5);
      border-radius: 5px;
    }
  
    .ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb,
    .ag-body-viewport.ag-layout-normal::-webkit-scrollbar-thumb,
    .ag-primary-cols-list-panel::-webkit-scrollbar-thumb,
    .ag-virtual-list-viewport::-webkit-scrollbar-thumb,
    .ag-tool-panel-wrapper::-webkit-scrollbar-thumb {
      background-color: #000;
      border-radius: 5px;
    }
  
    .ag-body-horizontal-scroll-viewport::-webkit-scrollbar,
    .ag-primary-cols-list-panel::-webkit-scrollbar {
      height: 8px;
    }
  
    .ag-body-viewport.ag-layout-normal::-webkit-scrollbar,
    .ag-primary-cols-list-panel::-webkit-scrollbar,
    .ag-virtual-list-viewport::-webkit-scrollbar,
    .ag-tool-panel-wrapper::-webkit-scrollbar {
      width: 8px;
      border-radius: 5px;
      background-color: #c0c0c0;
      box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.5);
    }
  }
  .action-panel {
    padding: 10px;
  
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: flex-end;
    }
  
    .btn {
      width: 100%;
      margin-bottom: 10px;
  
      @include media-breakpoint-up(md) {
        width: auto;
        margin-bottom: 0;
      }
  
      +.btn {
        margin-left: 10px;
  
        @media only screen and (max-width: 767px) {
          margin-left: 0;
          bottom: 0;
        }
      }
    }
  }
  .card {
    margin: 0 !important;
    width: 100%;
  }